.skip-link {
    position: absolute;
    left: -100000px;
}

.skip-link:focus {
    position: static;
}

footer {
    background-color: #15151e;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

.socials {
    list-style: none;
}

.socials li a {
    color: #fff;
    text-decoration: none;
}

/*Desktop view*/
@media screen and (min-width: 992px) {
    .video-container {
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        text-align: right;
        
    }
    
    .video-container video {
        width: 50%;
        display: inline-block;
        vertical-align: baseline;
    }

    nav ul {
        margin: 0;
        list-style-type: none; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        justify-items: center;
    }
    
    /*remove underline and change color for link*/    
    nav ul li a {
        text-decoration: none; 
        color: black; 
        font-size: large;
    }
    
    /*make links blue and bold on hover*/
    nav ul li a:hover {
        color: blue;
        font-weight: bold; 
    }
    
    /*color for navigation bar*/
    nav {
        background-color: lightgray; 
        padding: 10px; 
    }
    
    /* active page link with bold and underline*/
    nav ul li a.current {
        font-weight: bold;
        text-decoration: underline;
    }
    
}