.skip-link {
    position: absolute;
    left: -100000px;
}

.skip-link:focus {
    position: static;
}

footer {
    background-color: #15151e;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

.socials {
    list-style: none;
}

.socials li a {
    color: #fff;
    text-decoration: none;
}

h1{
    font-size: 40px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
}

div{
    padding: 10px 15px;
    margin: 0;
}

/* Videos page styling*/


section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
}

section p {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

section ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

section ul li {
    padding: 5px 20px; /* Add padding to the top and bottom */
    font-size: 18px; /* Set font size */
} 

/*Desktop view*/
@media screen and (min-width: 992px) {
    /* Navigation bar styling */
    nav ul {
        margin: 0;
        list-style-type: none; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        justify-items: center;
    }
    
    /*remove underline and change color for link*/    
    nav ul li a {
        text-decoration: none; 
        color: black; 
        font-size: large;
    }
    
    /*make links blue and bold on hover*/
    nav ul li a:hover {
        color: blue;
        font-weight: bold; 
    }
    
    /*color for navigation bar*/
    nav {
        background-color: lightgray; 
        padding: 10px; 
    }
    
    /* active page link with bold and underline*/
    nav ul li a.current {
        font-weight: bold;
        text-decoration: underline;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-bottom: 20px;
    }

    section .top-row {
        display: flex;
        align-items: flex-end;
    }

    section h2 {
        font-size: 30px;
        text-decoration: underline;
        margin-top: 20px;
        text-align: left;
        padding-bottom: 5px;
        padding-left: 20px;
    }
    
    section p {
        width: 100%;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    section ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0;
        text-align: left; 
    }

    section ul li {
        padding: 5px 20px;
        font-size: 25px;
        white-space: nowrap; 
    }

    .video-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
        
    .video-container {
        flex: 1;
        text-align: center;
    }
        
    .video-container video {
        width: 40%;
    }

    
}